<!DOCTYPE html>
<html>
  <head>
    <title>Web Chall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet"> 
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Congrats ...!!!</h1>
    <h1>You got the second half of Flag  "_j3t_m4kes_fu7}"</h1>    
  </body>
</html>
