<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Web Chall</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Welcome</p>
    <form class="form1" method="POST" action="/login">
      <input class="un " name="username" type="text" align="center" placeholder="Username">
      <input class="pass" name="password" type="password" align="center" placeholder="Password">
      <button class="submit" align="center">Login</button>     

      <!-- Why was the "ROBOT" bankrupted? -->
      <!--  Because, they had used all his cache.-->

    </form>
  </div>
     
</body>

</html>