<!DOCTYPE html>
<html>
  <head>
    <title>Web Chall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet"> 
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hurrah...!!! You got the first half of the Flag</h1>
    <h1> "p_ctf{un1c0de_4nd" </h1>
    <br/>
    <h2>You need admin privilege to find the rest of the flag.</h2>    
  </body>
</html>
