<!DOCTYPE html>
<html>
    <head>
        <title>Challenge2</title>
    <head>
    <body>
        <% @robots_file.each_line do |line| %>
            <%= line %>
            <br>
        <% end %>
    </body>
</html>